import { type ElementProps } from '@/types/common';
import { cn } from '@/helpers/utils';

export default function {{pascalCase name}}({ className }: ElementProps) {
    return <div className={cn(className)}></div>;
}
