import { cn } from '@/helpers/utils';
import { ElementProps } from '@/types/common';

export default function {{pascalCase name}}({ className }: ElementProps) {
    return <div className={cn(className)}></div>;
}
